<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>myweb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- ServletContext init 파라미터  -->
	<context-param>
		<param-name>company</param-name>
		<param-value>KG-ITBank</param-value>
	</context-param>
	<context-param>
		<param-name>manager</param-name>
		<param-value>Lee</param-value>
	</context-param>

	<!-- 자원 참조 : Connection Pool -->
	<resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/myOracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- session 타임아웃 설정 : 10분 -->
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>
	<!-- 예외 종류별 에러 페이지 지정
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/errorNullPointer.jsp</location>
	</error-page>
	-->
	
	<!-- TLD 파일 내용 추가 -->
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!-- 서블릿 추가 (최신) -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>board.controller.ControllerAction</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>CommandPro.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 서블릿 추가 (최신-1) 
	<servlet>
		<servlet-name>ControllerURI</servlet-name>
		<servlet-class>mvc.Controller</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>Command.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	-->
 	
	<!-- 서블릿 추가 
	<servlet>
		<servlet-name>controlOne</servlet-name>
		<servlet-class>mvc.control.ControlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controlOne</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	-->
	
	<servlet>
		<servlet-name>myControl</servlet-name>
		<servlet-class>mvcMem.control.ControlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myControl</servlet-name>
		<url-pattern>*.mdo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyOne</servlet-name>
		<servlet-class>sample.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyOne</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LifeCycle</servlet-name>
		<servlet-class>sample.LifeCycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifeCycle</servlet-name>
		<url-pattern>/LifeCycle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitParam</servlet-name>
		<servlet-class>sample.InitParam</servlet-class>
		<!-- ServletConfig init 파라미터  -->
		<init-param>
			<param-name>tel</param-name>
			<param-value>010-3333-1111</param-value>
		</init-param>
		<init-param>
			<param-name>email</param-name>
			<param-value>example@naver.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitParam</servlet-name>
		<url-pattern>/InitParam</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitInsert</servlet-name>
		<servlet-class>bbs.VisitInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitInsert</servlet-name>
		<url-pattern>/VisitInsert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitList</servlet-name>
		<servlet-class>bbs.VisitList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitList</servlet-name>
		<url-pattern>/VisitList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCheck</servlet-name>
		<servlet-class>login.LoginCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCheck</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Source</servlet-name>
		<servlet-class>sample.Source</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Source</servlet-name>
		<url-pattern>/Source</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Destination</servlet-name>
		<servlet-class>sample.Destination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Destination</servlet-name>
		<url-pattern>/Destination</url-pattern>
	</servlet-mapping>
</web-app>